.advantages {
    padding: 89px 0 0 0;
    margin-bottom: 53px;
    .title {
        width: 100%;
        margin-bottom: 36px;
        font-family: Circe;
        font-size: 38px;
        font-weight: 900;
        text-align: center;
        color: black;
    }
    .title span {
        color: #6b35f5;
    }
}

.advantages-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px 0 0 0;
    background-color: white;
    box-shadow: 0 8px 20px rgba(187, 207, 222, 0.28);
}

.dvantages-item--ico {
    position: relative;
    margin: 0 auto;
    margin-bottom: 22px;
    width: 98px;
    height: 98px;
    background-color: #6b35f5;
    border-radius: 4px;
    box-shadow: 0 8px 20px rgba(187, 207, 222, 0.38);
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 32px;
        height: 32px;
        background-size: contain;
    }
}

.dvantages-item {
    text-align: center;
    margin-bottom: 79px;
}

.dvantages-item--title {
    margin-bottom: 3px;
    color: black;
    font-family: Circe;
    font-size: 22px;
    font-weight: 900;
}

.dvantages-item--desc {
    color: black;
    font-family: Circe;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
}