.price {
    padding: 0 0 34px 0;
    .title {
        width: 100%;
        margin-bottom: 24px;
        font-family: Circe;
        font-size: 38px;
        font-weight: 900;
        text-align: center;
        color: black;
    }
    .title span {
        color: #6b35f5;
    }
}

.price-items {
    width: 100%;
    margin: 0 -15px;
    margin-bottom: 11px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 281px;
    margin-bottom: 29px;
    padding: 64px 15px 54px 15px;
    text-align: center;
    background-color: #6b35f5;
    border-radius: 4px;
    box-shadow: 0 8px 20px rgba(187, 207, 222, 0.38);
    .btn-yellow {
        max-width: 170px;
        width: 100%;
        padding: 11px 0 16px 0;
    }
}

.price-item--name {
    color: white;
    font-family: Circe;
    font-size: 18px;
    font-weight: 400;
}

.price-item--val {
    color: white;
    font-family: Circe;
    font-size: 25px;
    font-weight: 700;
}

.price-list {
    width: 100%;
    margin: 11px 0 0 0;
    li {
        position: relative;
        margin-bottom: 15px;
        padding: 0 0 0 30px;
        text-align: left;
        color: black;
        font-family: Circe;
        font-size: 18px;
        font-weight: 400;
    }
    li:before {
        content: '';
        position: absolute;
        top: -4px;
        left: 0;
        display: block;
        width: 24px;
        height: 24px;
        background: url(../img/svg/right.svg) no-repeat center;
    }
}